<div class="home-container">
  <h1>Feeling Like Shit?</h1>
  <div class="row nav-options">
    <div class="col s6">
      <p class="hoverable center-align"><a href="#poop-rating">Rate my Poop</a></p>
    </div>
    <div class="col s6">
      <p class="hoverable center-align"><a href="#poop-rating">Give me the facts</a></p>
    </div>
  </div>

  <div class="summary-container">
    <p>Having a shitty day? Or maybe you just feel like a piece of shit right now. Perhaps you ignored your best friend’s texts for the last week, or maybe your cat ran away. For whatever your shitty reasons are for feeling kind of crappy, we’re here to help. Take a look around and see how the world is just one giant piece of shit - plenty more massive a piece of shit than you certainly are.</p>

    <p>We’ve rounded up some pretty neat poop related facts and I've gotta tell you - it’s staggering. Check them out while you’re around. Also, please check out our daily poop-o-meter to see how the world’s poop have been today. Don’t forget tell us about your poop today either!</p>

    <p>All in all, there’s no reason to feel like a piece of shit when we have all this other shit in the world. Keep your spirits up, shitheads.</p>
  </div>
</div>
<div id="poop-rating" class="rating-container">
  <h1>Tell us about your fecal</h1>
  <% if flash[:vote_errors] %>
  <div class="container vote-errors">
  <% flash[:vote_errors].each do |e| %>
    <p class="center-align"><%= e %></p>
    <% end %>
  </div>
  <% end %>
  <div class="vote-form">
    <%= form_for @vote do |f| %>
    <%= text_field_tag :desc %>
    <%= f.submit %>
    <% end %>
  </div>
  <div class="row valign-wrapper">
    <div class="container rating-options valign">
      <p class="hoverable center-align col m4 offset-m1 offset-s2 s8">Enjoyable</p>
      <p class="hoverable center-align col m4 offset-m2 offset-s2 s8">Indifferent</p>
      <p class="hoverable center-align col m4 offset-m1 offset-s2 s8">Uncomfortable</p>
      <p class="hoverable center-align col m4 offset-m2 offset-s2 s8">Afflictive</p>
      <p class="hoverable center-align col m4 offset-m4 offset-s2 s8">Agonizing</p>
    </div>
  </div>
  <script>
    $(".rating-options p").on('click', function(){
      $(".vote-form input[name='desc']").val($(this).text());
      $(".vote-form form").submit();
    })
  </script>
  <div class="poop-rating-numbers">
    <% @poops.each do |poop| %>
      <p><%= poop.desc %>: <%= poop.votes.count %></p>
    <% end %>
  </div>
